* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

input {
    display: none;
}

.container-gallery {
    width: 100%;
    text-align: center;
}

.container-gallery h1 {
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}

.container-gallery h1::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: rgba(40, 180, 131, 0.8);
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        width: 100px;
    }
    50% {
        width: 200px;
    }
    100% {
        width: 100px;
    }
}

.container-gallery {
    color: gray;
}

.top-content {
    background-color: rgba(243, 243, 343, 243);
    width: 98%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(40, 180, 131, 0.8);
}

.container-gallery h3 {
    height: 100%;
    background-color: rgba(40, 180, 131, 0.8);
    line-height: 60px;
    padding: 0 5px;
    color: white;
}

.top-content label {
    display: inline-block;
    margin: 0 20px;
    line-height: 30px;
    font-size: 18px;
    color: grey;
    cursor: pointer;
    transition: 0.5s;
}

.top-content label:hover {
    color: black;
}

.gallery {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.photo-gallery {
    width: 100%;
    height: 100vh;
}

.gallery_item {
    box-sizing: border-box;
    width: 94%;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 1px 2px 40px 2px rgba(160, 160, 160, 0.5);
}

.gallery_image-caption {
    margin-top: 1rem;
    font-size: 0.95rem;
}

.gallery_image {
    width: 100%;
    display: block;
    border-radius: 10px;
}


/* ------responsiveness------ */


/* For Gallery pictures */

@media only screen and (min-width: 33.7em) {
    .gallery_item {
        flex-basis: calc(50% - 2rem);
    }
}

@media only screen and (min-width: 48em) {
    .gallery_item {
        flex-basis: calc((100% / 3) - 2rem);
    }
}

@media only screen and (min-width: 60em) {
    .gallery_item {
        flex-basis: calc((100% / 4) - 2rem);
    }
}

@media screen and (min-width: 1301px) {
    .top-content label {
        display: inline-block;
        margin: 0 10px;
        line-height: 30px;
        font-size: 20px;
        color: grey;
        cursor: pointer;
        transition: 0.5s;
    }
    .photo-gallery {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
    /* .pic {
        height: 210px;
        border-radius: 10px;
        box-shadow: 3px 3px 5px lightgray;
        cursor: pointer;
    } */
}

@media screen and (max-width: 1300px) {
    .top-content label {
        display: inline-block;
        margin: 0 10px;
        line-height: 30px;
        font-size: 15px;
        color: grey;
        cursor: pointer;
        transition: 0.5s;
    }
    .photo-gallery {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    /* .pic {
        height: 210px;
        border-radius: 10px;
        box-shadow: 3px 3px 5px lightgray;
        cursor: pointer;
    } */
}

@media screen and (max-width: 970px) {
    .top-content label {
        display: inline-block;
        margin: 0 3px;
        line-height: 20px;
        font-size: 12px;
        color: grey;
        cursor: pointer;
        transition: 0.5s;
    }
    .photo-gallery {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    /* .pic {
        height: 250px;
        border-radius: 10px;
        box-shadow: 3px 3px 5px lightgray;
        cursor: pointer;
    } */
}

@media screen and (max-width: 700px) {
    .top-content label {
        display: inline-block;
        margin: 0 2px;
        line-height: 15px;
        font-size: 10px;
        color: grey;
        cursor: pointer;
        transition: 0.5s;
    }
    .top-content h3 {
        height: 100%;
        line-height: 60px;
        padding: 0 3px;
        color: white;
    }
    .gallery_item {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    .top-content label {
        display: none;
    }
    .top-content h3 {
        height: 100%;
        line-height: 60px;
        padding: 0 5px;
        color: white;
    }
    .photo-gallery {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    /* .pic {
        height: 250px;
        border-radius: 10px;
        box-shadow: 3px 3px 5px lightgray;
        cursor: pointer;
    } */
}