/* rgba(50, 177, 27, 0.801); green color */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: helvetica;
}

.container {
    width: 100%;
    padding: 30px 10%;
    background-color: #f4f4f4;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
}

section.title {
    max-width: 700px;
    margin: 0 auto 45px;
    text-align: center;
    /* #f4f4f4 */
}

section.title h1 {
    position: relative;
    font-size: 32px;
    font-family: Helvetica;
    margin-bottom: 30px;
    display: inline-block;
    color: #888;
}

section.title p {
    color: #888;
}

section.title h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 120%;
    left: 0;
    background-color: #aaabb0;
}

section.title h1::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    left: 0;
    top: calc(120% - 1px);
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(2, 151, 34, 0.993);
}

.title p {
    font-size: 22px;
}

section.service_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service_container .service_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 32%;
    text-align: center;
    padding: 20px 10px 30px;
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.4s, box-shadow 0.4s;
    border-radius: 5px;
}

.service_container .service_box:hover {
    transform: translateY(-2px);
    box-shadow: 0px 3px 12px 0px #ccc;
}

.service_box i {
    font-size: 30px;
    color: #777;
    transition: 0.3s;
    margin-bottom: 5px;
    margin-top: 30px;
}

.service_box:hover i {
    color: rgba(40, 180, 131, 0.8);
}

.service_box h2 {
    padding: 15px 0px 10px;
    color: rgba(40, 180, 131, 0.8);
    font-size: 20px;
    font-family: helvetica;
    margin-bottom: 5px;
}

.service_box p {
    color: #888;
    line-height: 1.3;
    font-size: 20px;
    font-family: helvetica;
}

@media (max-width: 1000px) {
    .service_container .service_box {
        flex-basis: 48%;
    }
}

@media (max-width: 600px) {
    .service_container .service_box {
        flex-basis: 100%;
    }
}